[submodule "foxar/lib/spark-std"]
	path = foxar/lib/spark-std
	url = https://github.com/bchainhub/spark-std
[submodule "foxar/lib/solmate"]
	path = foxar/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "foxar/lib/openzeppelin-contracts"]
	path = foxar/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
